*{
    margin: 0;
    padding: 0;;
}


@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.about-us {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  background: #fff;
}
.pic {
  height: auto;
  width: 400px;
  border-radius: 12px;
}
.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text {
  width: 540px;
}
.text h2 {
  color: #333;
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}
.text h5 {
  color: #333;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
span {
  color: #4070f4;
}
.text p {
  color: #333;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}
.data {
  margin-top: 30px;
}
.hire {
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  transition: 0.5s;
}
.hire:hover {
  background: #000;
}

#hoverThis {
    background-color: rgb(0, 52, 107);
    color: white;
    border: 2px solid white;
    }
    
    #hoverThis:hover {
        background-color: white;
        color: rgb(0, 52, 107);
  }

/* Custom CSS if necessary */
.about-us .text h5 span {
  font-weight: bold;
}

.about-us .text {
  text-align: left;
}
@media screen and (max-width: 500px ) {
  .fitThisText{
    width: 80%;
  }
}
@media screen and (min-width: 991px ) {
  .marginTop{
    margin-top: 3rem;
  }
  .correctHeroImage{
    margin-bottom: 3rem;
    margin-left: 3rem
  }
}
@media screen and (max-width: 991px ) {
  .margthis{
    margin: 0 1rem;
  }
  .correctThis{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .heroImage{
    width: 20rem;
    margin-right: 2rem;
  }
  .aboutText{
    font-size: 0.5rem;
    font-weight: 600;
    color: rgb(0, 65, 134);
    margin-top: 1.2rem;
  }
}


.carousel-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 0, 128, 0.783);
  z-index: 1;
}
.carousel-caption {
  position: absolute;
  z-index: 2; 
}

.carousel-item img {
  position: relative;
  z-index: 0;
  }
  

  .aboutText{
    font-size: 4rem;
    font-weight: 600;
    color: rgb(0, 65, 134);
  }